body {
    margin: 30px 0 0 0;
    perspective: 800px;
}

#carta {
    display: flex;
    justify-content: center;
    transform-style: preserve-3d;
    transition: all 1s;
}

.flip {
    transform: rotatey(180deg);
}

.face {
    position: absolute;
    width: 176px;
    height: 245px;
}

#frente {
    background-image: url('img/verso.png');
    transform: rotateY(180deg);
}

#verso {
    background-image: url('img/frente.png');
}